page-landing {

  .background {
    background-image: url('../../assets/images/honeyBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
  }
}  //closes
