<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      FreeBees
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">

  <ion-list>
    <ion-item>
      <ion-label fixed>Freebee</ion-label>
      <ion-select (ionChange)="changeCategory(category)" [(ngModel)]="category" name="category" item-right>
        <ion-option value="all">Show All</ion-option>
        <ion-option value="drinks">Drinks</ion-option>
        <ion-option value="food">Food</ion-option>
        <ion-option value="stuff">Stuff</ion-option>
        <ion-option value="entertainment">Entertainment</ion-option>
        <ion-option value="admission">Admission</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list class="container">
    <ion-item *ngFor="let item of items" (click)="viewItem(item)">
      <ion-thumbnail *ngIf="item.imageURL" item-left>
        <img src="{{item.imageURL}}">
      </ion-thumbnail>
      <h2>{{item.name}}</h2>
      <h6>{{item.category}}</h6>
      <h6>{{item.type}}</h6>
      <!-- <ion-icon food/beer/stuff/tickets></ion-icon> -->
    </ion-item>
  </ion-list>

</ion-content>
