<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      FreeBees
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">

  <ion-list>
    <ion-item>
      <ion-label fixed>Category</ion-label>
      <ion-select (ionChange)="changeCategory()" [(ngModel)]="category" name="category">
        <ion-option value="drinks">Drinks</ion-option>
        <ion-option value="food">Food</ion-option>
        <ion-option value="stuff">Stuff</ion-option>
        <ion-option value="entertainment">Entertainment</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-thumbnail *ngIf="item.imageURL" item-left>
        <img src="{{item.imageURL}}">
      </ion-thumbnail>
      <h2>{{item.name}}</h2>
      <h6>{{item.id}}</h6>
      <h6>{{item.type}}</h6>
      <!-- <ion-icon food/beer/stuff/tickets></ion-icon> -->
      <button ion-button clear color="secondary" item-right (click)="viewItem(item)">View</button>
    </ion-item>
  </ion-list>

</ion-content>
