<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      FreeBees
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">
  <ion-card>
    <img src="{{item.imageURL}}"/>
  <ion-card-content>
    <ion-card-title>
      {{item.name}}
      <br>
       {{item.address}}
      </ion-card-title>
      <ion-list>

        <button ion-button block type="button" name="button" (click)="changeButton(myVar)">
            <div *ngIf="myVar == true">CLAIM MY FREEBEE</div>
            <div *ngIf="myVar == false">ENJOY YOUR FREEBEE!!!</div>
        </button>

        <ion-item>
          <ion-icon name="beer" item-left></ion-icon>
            {{item.freebee_name}}
          <ion-note item-right>
            {{item.type}}
          </ion-note>
        </ion-item>



      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
